@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root{ 
    --fontFamily:'League Spartan', sans-serif;
    --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
    --background:hsl(180, 52%, 96%);
    --box-shadow: 0px 80px 80px -80px hsl(180, 29%, 50%);
    --font-weight500:500;
    --font-weight700:700; 
    --white:rgba(255,255,255,255);
}

*,
*::before,
*::after{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: var(--fontFamily);
    background-color: var(--background);
    font-size: 15px;
    cursor: hand;
}

p, h1{ 
    margin: 0;
}

ul{ 
    list-style: none;
}

button{ 
    display: inline-block;
    cursor: hand;
    border: none;
    background-color: transparent;
}

.bg-header{ 
    height: 15vh;
    background-image: url(../Gambar/bg-header-mobile.svg);
    background-color:var(--Desaturated-Dark-Cyan) ;
    display: flex;
    align-items: flex-end;
}

.filters{ 
    background-color: var(--white);
    border-radius: 10px;
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    transform: translateY(50%);
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    display: none;
    position: relative;
}

.filters .clear{ 
    color: var(--Desaturated-Dark-Cyan);
    font-weight: 500;
    font-size: 1rem;
    justify-self: flex-end;
    font-family: var(--fontFamily);
}

.filters .clear:hover{ 
    text-decoration: underline;
}

.filters.visible{ 
    display: flex;
}

.filters .result , .filters .results{ 
    display: flex;
    align-items: center;
}

.filters .results{ 
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
}

.filter{ 
    font-weight: bold;
    background-color: var(--background);
    color: var(--Desaturated-Dark-Cyan);
    padding: 0.5rem 1rem;
    padding-top: 0.75rem;
    border-radius: 5px 0 0 5px;
}

.close{ 
    background-color: var(--Desaturated-Dark-Cyan);
    padding: 0.7rem;
    padding-bottom: 0.68rem;
    border-radius: 0 5px 5px 0;
    transition: 0.5s;
}

.close:hover{ 
    background-color: var(--Very-Dark-Grayish-Cyan);
    padding: 0.7rem;
    padding-bottom: 0.68rem;
    border-radius: 0 5px 5px 0;
    transition: 0.5s;
}

main{ 
    margin: 7rem 0;
}

@media(max-width: 375px){ 
    main{ 
        padding-top: 1rem;
    }
}

.card{ 
    background-color: var(--white);
    width: 90%;
    max-width: 70rem;
    margin: 3rem auto;
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    position: relative;
    box-shadow:var(--box-shadow);
    transition: ease-in-out 0.7s;
}

.card:hover{ 
    background-color: var(--white);
    width: 90%;
    border-radius: 10px;
    box-shadow:var(--box-shadow);
    transform: scale(1.04);
    transition: ease-in-out 0.7s;
}


.konten .card::before{ 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.35rem;
    background-color: var(--Desaturated-Dark-Cyan);
    border-radius: 10px 0 0 10px;
}

.card-box-logo{ 
    position: absolute;
    top: 0;
    width: 3rem;
    transform: translateY(-50%);
}

.card-box-info{ 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-box-name{ 
    color: var(--Desaturated-Dark-Cyan);
    font-size: 16px;
}

.card-box-info span{ 
    display: inline-block;
    padding: 0.5rem;
    padding-top: 0.75rem;
    border-radius: 100vw;
    color: var(--white);
    text-transform: uppercase;
    font-size: 00.65rem;
}

.card-box-info .pertama{ 
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--Desaturated-Dark-Cyan);
    padding: 8px;
    padding-top: 12px;
    border-radius: 100px;
    color: var(--white);
    text-transform: uppercase;

}

.card-box-info .kedua{ 
    display: inline-block;
    padding: 0.5rem;
    padding-top: 0.75rem;
    border-radius: 100px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--Very-Dark-Grayish-Cyan);
    margin-left: -0.5rem;
}


.card-box-judul{ 
    color: var(--Very-Dark-Grayish-Cyan);
    font-weight: bold;
    font-size: 1.25rem;
    margin: 1rem 0;
    transition: ease-in-out 0.4s;
}

.card-box-judul:hover{ 
    color: var(--Desaturated-Dark-Cyan);
    font-weight: bold;
    font-size: 1.25rem;
    margin: 1rem 0;
    margin: 1rem 0 0 0;
    transition: ease-in-out 0.4s;
}

.card-box-sub-judul span{ 
    color: var(--Dark-Grayish-Cyan);
}

.card-box-sub-judul span:not(:last-child)::after{ 
    content: '.';
    font-size: 24px;
    display: inline-block;
    transform: translateY(-10%);
    padding: 5px;
}

.card-button{ 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
    position: relative;
}

.card-button::before{ 
    content: '';
    position: absolute;
    top: -1.75rem;
    width: 100%;
    height: 2px;
    background-color: var(--Dark-Grayish-Cyan);
}

.buttonaksi{ 
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.3em;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: var(--background);
    color: var(--Desaturated-Dark-Cyan);
    transition: 250ms ease-in-out;
    font-size: 1.05rem;
}

.buttonaksi:hover{ 
    background-color: var(--Desaturated-Dark-Cyan);
    color: var(--background);
}

.buttonaksi:focus{ 
    outline: 3px solid   var(--Desaturated-Dark-Cyan);
}



@media(min-width:1440px){ 
    .bg-header{ 
        background-image:url(../Gambar/bg-header-desktop.svg) ;
        height: 20vh;
        background-color:var(--Desaturated-Dark-Cyan) ;
        display: flex;
        align-items: flex-end;
    }

    main{ 
        margin: 6rem 0;
    }

    .filters .clear{ 
        font-size: 1.35rem;
    }

    .card,.card-box{ 
        display: flex;
    }

    .card{ 
        justify-content: space-between;
        padding-inline: 3rem;
    }

    .card-button::before{ 
        display: none;
    }
    .card-box{ 
        gap: 2rem;
    }
    .card-box-logo{ 
        position: static;
        display: inline-block;
        transform: initial;
        width: 6rem;
        height: 6rem;
        object-fit: cover;
    }

    .card-box-sub-judul{ 
        margin-top: 0;
    }

    .card-box-judul{ 
        margin: 1rem 0 0 0;
    }

    .buttonaksi{ 
        font-size: .9rem;
    }
}
/* End  */
